body {
    background-color:#92a6a3; 
    color:#02fadd ;
    font-family: "Helvetica", sans-serif;
    text-align:center
}
  h1 {
  border-bottom:10px solid #5e5e5c;
  }

  img{
      width:420px;
      height: 420px;
      margin-block: 40px ;
  }